 # STOCK PRICE PREDICTION USING MACROHEADLINES
 
 
 
 
 #         EXPLORATORY DATA ANALYSIS

In [1]:
import pandas as pd
import datetime

##### APPLE

In [2]:
df_apl_tw = pd.read_csv('AppleData_masterFile_tw.csv')
df_apl_fin = pd.read_csv('AppleStockData20_21_fin.csv')

df_apl_tw.head()

,Datetime,Text
0,2020-06-29 22:56:32+00:00,"#GBPAUD 145 PIPS Profitüî•üî•\n\nFor free signals,..."
1,2020-06-29 22:20:05+00:00,APPLE ANALYSIS 15 MIN (BUY S...
2,2020-06-29 21:35:23+00:00,EURNZD TP2 Hit! 180 PIPS PROFIT üî•üëçüèª‚ö°Ô∏è\n\nFor F...
3,2020-06-29 21:17:03+00:00,"Apple Inc price at close, 2020-06-29, is 361.7..."
4,2020-06-29 20:40:54+00:00,#NZDCAD Target Hit! 90 PIPS Profit üî•\n\nChecko...

In [3]:
df_apl_fin.tail()

           Date Close/Last     Volume      Open     High       Low
429  01-08-2020   $75.7975  132363800    $74.29   $76.11   $74.289
430  01-07-2020   $74.5975  111510640    $74.96  $75.225    $74.37
431  01-06-2020     $74.95  118578560  $73.4475   $74.99  $73.1875
432  01-03-2020   $74.3575  146535520  $74.2875  $75.145   $74.125
433  01-02-2020   $75.0875  135647440    $74.06   $75.15  $73.7975

In [4]:
df_msft_fin = pd.read_csv('MicrosoftStockData20_21_fin.csv')
df_msft_tw = pd.read_csv('MSFT_tw.csv')

df_msft_fin.head()

         Date Close/Last      Volume     Open     High      Low
0  09/21/2021     $294.8  22364100.0  $295.69  $297.54  $294.07
1  09/20/2021     $294.3  38278660.0  $296.33  $298.72  $289.52
2  09/17/2021    $299.87  41372460.0  $304.17   $304.5  $299.53
3  09/16/2021    $305.22  19550820.0  $303.76  $305.31  $300.76
4  09/15/2021    $304.82  28356300.0  $303.26  $305.32  $301.82

In [5]:
df_msft_tw.head()

,Datetime,Text
0,2021-09-19 21:16:55+00:00,6) Microsoft #MSFT will be increasing its pric...
1,2021-09-19 21:00:02+00:00,Want to learn how to create a task in #Planner...
2,2021-09-19 16:02:15+00:00,Remember $xrp was created by X $btc developers...
3,2021-09-19 09:20:32+00:00,$MSFT TABLE for CLOSE PRICE Prediction for the...
4,2021-09-19 09:20:30+00:00,$MSFT SIGNAL for CLOSE PRICE Prediction for th...

In [6]:
datetime.datetime.max

datetime.datetime(9999, 12, 31, 23, 59, 59, 999999)

##### NVDA

In [7]:
df_nvda_tw = pd.read_csv('NVDA_tw.csv')
df_nvda_fin = pd.read_csv('NVDA.csv')

df_nvda_tw.head()

,Datetime,Text
0,2021-09-21 18:07:35+00:00,#StockNews #NVDA Are You looking For Hot Stock...
1,2021-09-21 14:42:45+00:00,-$61 in 60 minutes | Small Account Trade Log \...
2,2021-09-21 12:25:19+00:00,Women did not get the vote by voting. They too...
3,2021-09-21 03:41:38+00:00,Who is buying the dip? Sold #SPY and #NVDA pu...
4,2021-09-21 02:59:32+00:00,$ES_F Daily\n\nDipped below the channel\n&amp;...

In [8]:

df_nvda_fin.head()

         Date Close/Last      Volume      Open       High      Low
0  09/21/2021    $212.46  20468810.0  $214.165    $214.25   $209.5
1  09/20/2021    $211.13  34944050.0   $211.46    $214.33  $206.62
2  09/17/2021       $219  29450280.0      $223    $223.21   $218.3
3  09/16/2021    $222.42  15603340.0  $221.835    $222.77  $219.27
4  09/15/2021    $223.41  16653800.0   $223.09  $223.6699  $219.66

##### PAYPAL

In [9]:
df_ppal_tw = pd.read_csv('PayPal_tw.csv')
df_ppal_fin = pd.read_csv('PayPal_fin.csv')

df_ppal_tw.head()

,Datetime,Text
0,2021-09-21 23:38:02+00:00,@JerryCap Why is $PYPL so slow at rolling out ...
1,2021-09-21 23:37:44+00:00,"Long Watches: $PYPL, $FB, $QS, $NVDA, $AAPL! S..."
2,2021-09-21 23:36:25+00:00,I recorded it for those who haven't seen it.\n...
3,2021-09-21 23:33:51+00:00,Finfluencer Sean D. Emory (18.8k follower) mos...
4,2021-09-21 23:24:59+00:00,Anyone have thoughts on the terrible $PYPL pri...

In [10]:
df_ppal_fin.head()

         Date Close/Last     Volume     Open       High      Low
0  09/21/2021    $269.49  4326076.0  $271.75  $272.2986   $267.8
1  09/20/2021    $269.91  7728307.0  $271.55       $273  $265.68
2  09/17/2021    $276.34  8117226.0  $282.18     $282.5  $275.92
3  09/16/2021    $282.97  3606742.0  $281.04    $283.69  $280.39
4  09/15/2021    $282.43  4056783.0  $284.21    $285.75   $279.5

##### TESLA

In [11]:
df_tsl_tw = pd.read_csv('Tesla_tw.csv')
df_tsl_fin = pd.read_csv('Tesla_fin.csv')

df_tsl_tw.head()

,Datetime,Text
0,2020-05-31 23:57:24+00:00,"Trade #Stocks, #ETF and #Options on #Webull! O..."
1,2020-05-31 23:56:26+00:00,Your #free #stock is waiting for you! Join #Ro...
2,2020-05-31 23:35:46+00:00,Quick Update on $TSLA - Wave 4 triangle has co...
3,2020-05-31 23:00:24+00:00,"#TSLA knocks out @AlamedaCounty. Finally, #Tes..."
4,2020-05-31 21:25:27+00:00,Added some $SPCE Friday - want to build a larg...

In [12]:
df_tsl_fin.head()

         Date Close/Last     Volume     Open     High       Low
0  09/21/2021    $143.43   75833960  $143.93   $144.6   $142.78
1  09/20/2021    $142.94  123478900   $143.8  $144.84   $141.27
2  09/17/2021    $146.06  129868800  $148.82  $148.82   $145.76
3  09/16/2021    $148.79   68034150  $148.44  $148.97  $147.221
4  09/15/2021    $149.03   83281320  $148.56  $149.44   $146.37

## TWEET CLEANING

In [34]:
# import regular expression, library for cleaning
import re
import string

In [38]:
# function to clean text/tweets

def CleanTxt(tweets):
    tweets = re.sub(r'@[A-Za-z0-9]+', '', str(tweets)) #removes @mentions
    tweets = re.sub(r'#','', str(tweets)) #removes the '# tags'
    tweets = re.sub(r'RT[\s]+', '', str(tweets)) #removes retweets
    tweets = re.sub(r'^a-zA-Z','',str(tweets)) #removes non alphabets
    tweets = re.sub(r'https?:\/\/S+', '', str(tweets)) #removes hyperlink
    tweets = re.sub(r'\[*.?\]', '', str(tweets)) #removes squarebrackets
    tweets = re.sub(r'[%s]' % re.escape(string.punctuation), '', str(tweets)) #removes punctuation marks
    tweets = re.sub(r'\w*\d\w*', '', str(tweets))
    tweets = re.sub(r'[''""...]', '', str(tweets))
    tweets = re.sub(r'\n', '', str(tweets))
    
    return tweets

##### APPLE

In [39]:
df_apl_tw['Text'] = df_apl_tw['Text'].apply(CleanTxt)

In [40]:
df_apl_tw.head()

,Datetime,Text
0,2020-06-29 22:56:32+00:00,GBPAUD PIPS Profitüî•üî•For free signals Join for...
1,2020-06-29 22:20:05+00:00,APPLE ANALYSIS MIN BUY SIGN...
2,2020-06-29 21:35:23+00:00,EURNZD Hit PIPS PROFIT üî•üëçüèª‚ö°Ô∏èFor Forex signal...
3,2020-06-29 21:17:03+00:00,Apple Inc price at close is apple AAPL
4,2020-06-29 20:40:54+00:00,NZDCAD Target Hit PIPS Profit üî•Checkout the B...

In [41]:
df_apl_tw.to_csv('cleaned_appletwi.csv', index = False)

##### MICROSOFT

In [42]:
df_msft_tw['Text'] = df_msft_tw['Text'].apply(CleanTxt)

In [43]:
df_msft_tw

,Datetime,Text
0,2021-09-19 21:16:55+00:00,Microsoft MSFT will be increasing its prices ...
1,2021-09-19 21:00:02+00:00,Want to learn how to create a task in Planner ...
2,2021-09-19 16:02:15+00:00,Remember xrp was created by X btc developers b...
3,2021-09-19 09:20:32+00:00,MSFT TABLE for CLOSE PRICE Prediction for the ...
4,2021-09-19 09:20:30+00:00,MSFT SIGNAL for CLOSE PRICE Prediction for the...
...,...,...
17358,2020-01-01 02:30:06+00:00,Microsoft news recap Microsoft Teams gets Linu...
17359,2020-01-01 01:40:03+00:00,Microsoft and Oracle Extend MultiCloud Partner...
17360,2020-01-01 01:15:33+00:00,Coach Carroll and Dangeruss are ready for the ...
17361,2020-01-01 00:56:57+00:00,Top trades of the decade Number Going long F...
17362,2020-01-01 00:45:02+00:00,Microsoft and Oracle Extend MultiCloud Partner...

In [44]:
df_msft_tw.to_csv('cleaned_msfttwi.csv', index = False)

##### NVDA

In [45]:
df_nvda_tw['Text'] = df_nvda_tw['Text'].apply(CleanTxt)
df_nvda_tw

,Datetime,Text
0,2021-09-21 18:07:35+00:00,StockNews NVDA Are You looking For Hot Stock N...
1,2021-09-21 14:42:45+00:00,in minutes Small Account Trade Log What a t...
2,2021-09-21 12:25:19+00:00,Women did not get the vote by voting They took...
3,2021-09-21 03:41:38+00:00,Who is buying the dip Sold SPY and NVDA put s...
4,2021-09-21 02:59:32+00:00,ESF DailyDipped below the channelampBollinger ...
...,...,...
6478,2020-01-02 16:45:53+00:00,BLOCK TRADE detected in NVDA
6479,2020-01-02 16:31:48+00:00,Last tuesday we entered Nvda Nivida Nvda Nivid...
6480,2020-01-02 15:59:24+00:00,One week till I‚Äôm back in rehearsals with Loo...
6481,2020-01-02 11:35:44+00:00,Robinhood Dont let Pass You Up One Stock pick...
6482,2020-01-01 19:46:33+00:00,HappyNewYear As we reflect on here is our Top...

In [46]:
df_nvda_tw.to_csv('cleaned_nvdatwi.csv', index = False)

##### PAYPAL

In [47]:
df_ppal_tw['Text'] = df_ppal_tw['Text'].apply(CleanTxt)
df_ppal_tw

,Datetime,Text
0,2021-09-21 23:38:02+00:00,Why is PYPL so slow at rolling out features f...
1,2021-09-21 23:37:44+00:00,Long Watches PYPL FB QS NVDA AAPL Short Watche...
2,2021-09-21 23:36:25+00:00,I recorded it for those who havent seen itqyou...
3,2021-09-21 23:33:51+00:00,Finfluencer Sean D Emory follower most mentio...
4,2021-09-21 23:24:59+00:00,Anyone have thoughts on the terrible PYPL pric...
...,...,...
10057,2021-08-04 20:22:53+00:00,BTC ETH LINK XTZ ADA VET KNC SXP TWTR ES JD BA...
10058,2021-08-04 20:22:20+00:00,Let‚Äôs hope PYPL holds during AH Most likely t...
10059,2021-08-04 20:17:44+00:00,PT for pypl tomorrow
10060,2021-08-04 20:16:28+00:00,ETSY getting slammed on earnings May affect EB...
10061,2021-08-04 20:15:52+00:00,whales I think RH competition is SQ PYPL SOF...

In [48]:
df_ppal_tw.to_csv('cleaned_paypaltwi.csv', index = False)

##### TESLA

In [49]:
df_tsl_tw['Text'] = df_tsl_tw['Text'].apply(CleanTxt)
df_tsl_tw

,Datetime,Text
0,2020-05-31 23:57:24+00:00,Trade Stocks ETF and Options on Webull Open an...
1,2020-05-31 23:56:26+00:00,Your free stock is waiting for you Join Robinh...
2,2020-05-31 23:35:46+00:00,Quick Update on TSLA Wave triangle has compl...
3,2020-05-31 23:00:24+00:00,TSLA knocks out Finally Tesla reopened with o...
4,2020-05-31 21:25:27+00:00,Added some SPCE Friday want to build a larger...
...,...,...
75565,2021-04-01 00:14:19+00:00,I‚Äôm going to say that I‚Äôve decided Nikola act...
75566,2021-04-01 00:10:05+00:00,Tesla TSLA could surprise with strong deliveri...
75567,2021-04-01 00:07:15+00:00,He banged my line i gotta change my number ...
75568,2021-04-01 00:02:27+00:00,It‚Äôs so funny how people still think Tsla is i...
75569,,nan

In [50]:
df_tsl_tw.to_csv('cleaned_teslatwi.csv', index = False)

### SENTIMENT ANALYSIS

In [53]:
# import library
from textblob import TextBlob

##### function to get subjectivity and polarity

In [54]:
# subjectivity
def getSubjectivity(tweets):
    return TextBlob(tweets).sentiment.subjectivity

# polarity
def getPolarity(tweets):
    return TextBlob(tweets).sentiment.polarity

##### add columns of subjectivity and polarity to each dataframe

In [55]:
#Apple
df_apl_tw['Subjectivity'] = df_apl_tw['Text'].apply(getSubjectivity)
df_apl_tw['Polarity'] = df_apl_tw['Text'].apply(getPolarity)

#Microsoft
df_msft_tw['Subjectivity'] = df_apl_tw['Text'].apply(getSubjectivity)
df_msft_tw['Polarity'] = df_apl_tw['Text'].apply(getPolarity)

#NVDA
df_nvda_tw['Subjectivity'] = df_apl_tw['Text'].apply(getSubjectivity)
df_nvda_tw['Polarity'] = df_apl_tw['Text'].apply(getPolarity)

#Paypal
df_ppal_tw['Subjectivity'] = df_apl_tw['Text'].apply(getSubjectivity)
df_ppal_tw['Polarity'] = df_apl_tw['Text'].apply(getPolarity)

#Tesla
df_tsl_tw['Subjectivity'] = df_apl_tw['Text'].apply(getSubjectivity)
df_tsl_tw['Polarity'] = df_apl_tw['Text'].apply(getPolarity)

### Negative, Neutral and Positive tweets

In [64]:
# function to compute negative neutral and positive tweets

def getAnalysis(score):
    if score < 0:
        return 'Negative'
    elif score == 0:
        return 'Neutral'
    else:
        return 'Positive'

In [66]:
#Apple
df_apl_tw['Analysis'] = df_apl_tw['Polarity'].apply(getAnalysis) 

#msft
df_msft_tw['Analysis'] = df_msft_tw['Polarity'].apply(getAnalysis) 

#nvda
df_nvda_tw['Analysis'] = df_nvda_tw['Polarity'].apply(getAnalysis)

#Paypal
df_ppal_tw['Analysis'] = df_ppal_tw['Polarity'].apply(getAnalysis) 

#Tesla
df_tsl_tw['Analysis'] = df_tsl_tw['Polarity'].apply(getAnalysis) 

#show apple's
df_apl_tw

,Datetime,Text,Subjectivity,Polarity,Analysis
0,2020-06-29 22:56:32+00:00,GBPAUD PIPS Profitüî•üî•For free signals Join for...,0.80,0.400,Positive
1,2020-06-29 22:20:05+00:00,APPLE ANALYSIS MIN BUY SIGN...,0.00,0.000,Neutral
2,2020-06-29 21:35:23+00:00,EURNZD Hit PIPS PROFIT üî•üëçüèª‚ö°Ô∏èFor Forex signal...,0.00,0.000,Neutral
3,2020-06-29 21:17:03+00:00,Apple Inc price at close is apple AAPL,0.00,0.000,Neutral
4,2020-06-29 20:40:54+00:00,NZDCAD Target Hit PIPS Profit üî•Checkout the B...,0.50,0.500,Positive
...,...,...,...,...,...
33363,2021-01-01 12:55:44+00:00,Gains AAPL and PLTR Losses AMD and SFIX,0.00,0.000,Neutral
33364,2021-01-01 06:58:35+00:00,Not all flowers were bloom together If not suc...,0.95,-0.375,Negative
33365,2021-01-01 05:40:03+00:00,Ending this year with small Boom BABA AAPL NF...,0.40,-0.250,Negative
33366,2021-01-01 05:05:52+00:00,If you trade stocks like FB AAPL AMZN AMD GOOG...,0.80,0.400,Positive
33367,,nan,0.00,0.000,Neutral

### MERGE EACH COMPANY TWEETS AND FINANCIAL DATA

In [73]:
#master_apl = df_apl_tw.merge(df_apl_fin, how= 'cross')

#master_apl